$primary-mainColor:#2754AB; // 主色应用于大面积色块
$primary-brightColor:#C3000E; // 亮色应用于点击按钮

$assist-yellow: #E5B25D; // 辅助色-黄色
$assist-red: #C16146; // 辅助色-红色
$assist-teal: #36B4AB; // 辅助色-青色
$assist-beige: #F2D8AE; // 辅助色-米色
$assist-blue: #6887C4; //辅助色-蓝色

$gray-primary: #222222; // 主标题文字
$gray-secondary: #2C2C2C; // 副标题文字
$gray-tertiary: #191919; // 辅助性文字
$gray-quaternary: #4D4D4D; // 非重要性文字
$gray-5: #898989; // 灰度5
$gray-6: #D2D2D2; // 灰度6
$gray-7: #F4F4F4; // 灰度7
$gray-8: #F7F7F7; // 灰度8
